doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Film
    link(rel="stylesheet", href="style.css")
  body
    main#film
      section#banner
        h1 #{filmCard.title}
        img(src=filmCard.poster, alt='')
      section#info
        p Director&apos;: #{filmCard.director}
        p Casting&apos;: #{filmCard.casting}
        p Plot&apos;: #{filmCard.plot}
        p Awards&apos;: #{filmCard.title}